#root {
  margin: 0 auto;
  height: 100vh;
}

h2 {
  /* font-size: 80px; */
  font-size: clamp(10px, 4vw, 50px);
  margin: 0;
}

ul {
  padding-left: clamp(10px, 3vw, 30px);
}

.absolute {
  position: absolute;
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

.inline {
  display: inline;
  height: fit-content;
}

.video-player {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  z-index: 6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hide {
  display: none;
}

/* .video-player.hide {
  pointer-events: none;
  opacity: 0;
} */

.media-control {
  height: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10;
  bottom: -70px;
  width: 100%;
  flex-shrink: none;
  margin-top: 50px;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 80%;
  height: 15px;
  flex-shrink: 0;
  position: relative;
}

.media-toggles {
  display: flex;
  margin-top: 10px;
}

.timestamp {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 20px;
  flex-shrink: 0;
  background-color: yellow;
  pointer-events: none;
}

.current-progress {
  position: absolute;
  background-color: red;
  height: 100%;
  flex-shrink: 0;
  z-index: 1;
}

.page {
  max-width: 1100px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 4%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 2 / 1;
  max-height: 80%;
  background-image: url("./images/blue-sky.png");
}

.background {
  position: absolute;
  /* top: 140px; */
  padding-top: 1%;
  left: 0;
  right: 0;
  /* bottom: 0; */
  z-index: 0;
  display: flex;
  justify-content: center;
  margin: auto;
}

.header {
  /* height: 10vw; */
  width: 90%; /* was 60% of background ui */
  margin: auto;
}



.header-logo {
  position: relative;
  display: flex;
  width: 65%;
  gap: 4%;
  z-index: 5;
}

.logo-os {
  position: relative;
  top: 1vw;
}
.header-title-group {
  margin-top: calc(-3% + 1vw);
}

.header-route {
  position: relative;
  left: -56%;
  top: -45%;
  font-size: clamp(10px, 4vw, 40px);
  color: var(--ui-font-color);
  font-weight: bold;
}

.self-center {
  align-self: center;
}

.content {
  height: 100%;
  position: relative;
  margin-left: 1.5%;
  margin-top: 8%;
  z-index: 1;
}

.side-section {
  width: 35%;
  position: relative;
  color: var(--ui-secondary-dark);
  margin-left: 1.8%;
}

.creature-headshots {
  position: absolute;
  /* top: -200px; */
  right: 0;
  top: clamp(-180px, -15vw, 100px);
  align-self: end;
  justify-self: end;
  gap: 5%;
}

.creature-headshot {
  /* height: 175px;
  width: 175px; */
  height: clamp(1em, 10vw, 120px);
  width: clamp(1em, 10vw, 120px);
  border: 1px solid var(--ui-primary-dark);
  border-radius: var(--border-radius-med);
}

.creature-headshot > img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-med);
}

.creature-label {
  font-size: clamp(5px, 2.2vw, 22px);
  font-weight: 600;
}

.side-section-large {
  width: 100%;
  height: 100%;
}

.creature-large > img {
  width: 100%;
  height: auto;
}

.avatar-display {
  position: relative;
  top: clamp(-50px, -4vw, 10px);
  width: 18.5%;
  max-height: clamp(100px, 36vw, 100%);
  background: rgb(130, 190, 227, 0.9);
  border-radius: var(--border-radius-med);
}

.sn-detail {
  position: relative;
  top: -8%;
  font-size: clamp(5px, 1vw, 10px);
  text-wrap: nowrap;
  background: none;
  margin-left: 8%;
  height: 5%;
  color: var(--ui-primary-dark);
}

.sn-value {
  display: inline;
  background-color: var(--ui-primary-dark);
  color: white;
  border-radius: clamp(1px, 0.4vw, 5px);
  padding: 0px 4px;
}

.sn-label {
  font-size: clamp(5px, 2.2vw, 22px);
  font-weight: 600;
}

.menu {
  width: 34.5%;
}

.nav-menu {
  margin-top: clamp(5px, 2vw, 20px);
  margin-bottom: 0;
}

.nav-option {
  position: relative;
  height: clamp(1.2rem, 4vw, 2.6rem);
  width: 59%;
  margin-bottom: 2%;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: bold;
  list-style: none;
  border: 2px solid rgb(150, 160, 230, 80);
  border-radius: clamp(1px, 1.2vw, 12px);
  color: var(--ui-font-color);
  cursor: pointer;
  transition-duration: 0.5s;
}

.nav-option.selected {
  background-color: aliceblue;
}
.nav-option.selected:hover {
  background-color: aliceblue;
}
.nav-option:hover {
  background-color: var(--ui-hightlight-dark);
}

.nav-option-ext {
  width: 85%;
}

.nav-option::before {
  content: "";
  position: absolute;
  top: clamp(-20px, -2.1vw, 5px);
  left: clamp(-20px, -2.1vw, 5px);
  width: clamp(5px, 3vw, 30px);
  height: clamp(5px, 3vw, 30px);
  background-image: url("./images/Star.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.nav-menu-description {
  width: 59%;
  height: clamp(10px, 2vw, 30px);
  font-size: clamp(5px, 1vw, 10px);
  color: var(--ui-primary-dark);
}

.sub-menu {
  display: flex;
  flex-direction: row;
  align-items: end;
  /* height: 100%; */
  margin-top: 6%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
